<div class="login-container">
    <div class="d-flex flex-column">
        <label>Name</label>
        <input type="text" class="form-control" [(ngModel)]="name">
    </div>
    <button class="btn btn-success" (click)="createRoom()">Create Room</button>

    <hr class="w-75">

    <div class="d-flex flex-column">
        <label>Room Token</label>
        <input type="text" class="form-control" [(ngModel)]="roomName">
    </div>
    <button class="btn btn-success" (click)="loginToRoom()">Go To Room</button>

</div>