#all-streams {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: 95vh;
    box-shadow: 1px 5px 5px gray;
    margin: 1rem;
    border-radius: 15px;
}

.stream-container {
    position: relative;
    margin: .5rem;
    padding: .2rem;
}

:host ::ng-deep video {
    border-radius: 15px;
    box-shadow: 1px 1px 5px white;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

:host ::ng-deep .normal-user {
    order: 1;
    width: 23rem;
    height: 15rem;
}

:host ::ng-deep .speaker {
    order: 0;
    max-width: 600px;
    aspect-ratio: 3/2;
}

.video-settings-buttons {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 10px;
    left: 20px;
    width: 90px;
    height: 20px;
}

.video-settings-button {
    background: rgba(27, 28, 44, 0.5);
    width: 30px;
    height: 30px;
}

.video-settings-button mat-icon {
    font-size: 15px;
}



.stream-name-container {
    position: absolute;
    bottom: 0.7rem;
    left: .7rem;
    background-color: white;
    padding: 8px;
    border-radius: 15px;
}

.stream-name { 
    color: #353232;
    font-weight: 900;
    font-size: 14px;
}